/* .logo{
  margin-left: 45px;
  margin-top: 10px;
}
.bar{
  width: 550px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: aliceblue;
  margin-top: 5px;
  display: inline;

}
.bar::placeholder{
  font-size: 20px;
}
.search{
  background-color: aliceblue;
  display: inline;
  
}
.searchicon{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.n1{
  font-size: 20px;
  letter-spacing: .5px;
  padding: 20px 5px 0px 5px;
}
.searchbar{
  background-color: aliceblue;
  border-radius: 7px;
  padding-left: 13px;
  margin: 0px;
  margin-top: 10px;
}
.seller-div{
  margin-top: 15px;
}
.col-md-5.row{
  margin-top: 15px;
} */ 

.form-div{
  width:50%;
  margin:  0px auto;
}
form{
  border: 2px solid black;
}